/*.footer {
    clear: both;
    background: #181A1C;
    text-align: center;
}*/

*{
	border-radius: 0px!important;
}

p{  
    margin-top: 5px;
    margin-bottom: 3px;
}

body { padding-top:30px; }
.form-control { margin-bottom: 0px; }

.bootstrap-select.btn-group .btn .caret {
left: 12px;
}
.bootstrap-select.btn-group .btn .filter-option {

margin-left: 15px;

}

.img-box{

	border: 1px solid black;

}

h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}


.filter-box{

	    background-color: rgba(224, 223, 223, 0.65);
}


.menu li a{
    display: block;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    perspective-origin: 37.3125px 21px;
    transform-origin: 37.3125px 21px;
    /*border: 1px solid rgb(24, 26, 28);*/
    font: normal normal normal normal 15px / 20px Roboto, sans-serif;
    list-style: none outside none;
    margin: 10px 3px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 15px;
    
}


.menu li a:hover,.menu li a:active{

	/*border: 1px solid #FECE1A;*/
    color: #fff;
    background-color: #ff5722;
    transition: border-color 1s ease;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a {
    text-transform: capitalize;
    line-height: auto;
    vertical-align: middle;
    margin: 30px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    /* border: 1px solid #181A1C; */
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: black;
    transition: border-color 1s ease;
}
.box-img{

	  width: 250px;
    height: 250px;
    margin: 0px 0px 5px 0px;


}

.active{
    
    
    background:#ff5722;
    color:white;
}

.sub-item{
    
    padding: 5px;
}

.centered-form{
    
	margin: auto;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
/*	box-shadow: rgba(167, 167, 167, 0.3) 5px 5px 5px 0px;*/
}

.add-data{
    
    background: #FF5722;
    padding: 10px;
    color:white;
}
.error-box li{
    
    color: red;
    
}

#error-box b{
    
    color: red;
}

.navbar-nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    /* border: 1px solid white; */
    color: #fff;
    background-color: rgb(252, 101, 1);
    transition: border-color 1s ease;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('../../images/broken_circle.gif') no-repeat center center; }



#content
{
width: 900px;
margin: 0 auto;
font-family:Arial, Helvetica, sans-serif;
}
.page
{
float: right;
margin: 0;
padding: 0;
}
.page li
{
list-style: none;
display:inline-block;
}
.page li a, .current
{
display: block;
padding: 5px;
text-decoration: none;
color: #8A8A8A;
}
.current
{
font-weight:bold;
color: #000;
}
.button
{
padding: 5px 15px;
text-decoration: none;
background: #333;
color: #F3F3F3;
font-size: 13PX;
border-radius: 2PX;
margin: 0 4PX;
display: block;
float: left;
}


.modal-demo{

  display: none;
  width: 50%;
  margin: auto;
  background: white;
  padding: 25px;
  text-align: left;

}


.bs-searchbox input['text']{

    border: 1px solid #03A9F4;
    border-radius: 0px;
    padding: 5px;
    margin: 1px;
}



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logmod {
  display: block;
  position: fixed;
 /* top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.logmod::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  /*margin: 120px auto;*/
}
.logmod__close {
  display: block;
  position: absolute;
  right: 50%;
  background: url("http://imgh.us/close_white.svg") no-repeat scroll 0% 0% transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -72px;
  margin-right: -24px;
  width: 48px;
  height: 48px;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.logmod__tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.logmod__tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.logmod__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logmod__tabs::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tabs li.current a {
  background: #FFF;
  color: #333;
}
.logmod__tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.logmod__tabs li a:focus {
  outline: dotted 1px;
}
.logmod__heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.logmod__heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 48px;
}
.logmod__form {
  border-top: 1px solid #e5e5e5;
}
.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect__icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform__actions {
  padding: 15px;
  font-size: 14px;
}
.simform__actions::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions .sumbit {
  height: 48px;
  float: right;
  color: #FFF;
  /*width: 46%;*/
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background: #FF5722;
  margin-top: 7px;
}
.simform__actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
.simform__actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs {
  border-bottom: 1px solid #E5E5E5;
}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  /*height: 71px;*/
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}

.sminputs .input input {
  postion: relative;
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
  margin-bottom: 0px;
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}



.special {
  color: #FF5722;
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #f00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(http://basehold.it/i/24);
}

a{
  cursor: pointer;
}


.footer{

    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
 
}
